@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: lightblue;
}

.div1 {
  background-color: white;
  width: 50%;
  border: 15px solid blue;
  padding: 20px;
  margin: 20px;
}

img {
  width: 80%;
}

button {
  border: none;
  background-color: blue;
  color: white;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttonHidden {
  visibility: hidden;
}

.buttonNormal {
  background-color: gray;
}

.buttonRed {
  background-color: red;
}

.buttonGreen {
  background-color: green;
}